@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#todo-container {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 90%;
    border: 2px solid #000000;
    background-color: #8A2BE2;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    overflow: auto;
}

#empty-list-txt {
    font-family: 'Quicksand', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    color: #fff;
}

@media only screen and (max-width: 416px) {
    
    #todo-container {
        text-align: center;
    }

}